<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;300;400;500;700;900&display=swap"
          rel="stylesheet">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/uikit@3.15.15/dist/css/uikit.min.css"/>
    <meta charset="UTF-8" name="viewport"
          content="width=device-width, maximum-scale=1.0, minimum-scale=1, user-scalable=yes,initial-scale=1.0"/>
    <link rel="shortcut icon" type="image/x-icon"
          href="https://farm66.staticflickr.com/65535/52426774298_021f5dfcb4_m.jpg">
    <title>웃자</title>

</head>
<body>
<div>
    <div>
        <div>아이디</div>
        <div><input type="text" id="email"></div>
    </div>
    <div>
        <div>비밀번호</div>
        <div><input type="text" id="pwd"></div>
    </div>
    <div>
        <button onclick="login()">로그인</button>
    </div>
</div>
</body>
<script src="https://code.jquery.com/jquery-1.12.4.min.js"></script>
<script>
    function login() {
        const loginDTO = {
            "email": $(`#email`).val(), "password": $(`#pwd`).val()
        }
        fetch("/auth/login", {
            method: "post",
            headers: {
                "Content-Type": "application/json;charset=utf-8"
            },
            body: JSON.stringify(loginDTO)
        }).then((res) => {
            if(res.status===200){
                history.back();
            }
        });
    }

    function signup() {
        fetch("/auth/signup", {
            method: "post",
            headers: {
                "Content-Type": "application/json;charset=utf-8"
            },
            body: JSON.stringify({
                "userId": $(`#email`).val(), "userPwd": $(`#pwd`).val(), "userNickname": "dlsdud"
            })
        }).then(res => {
            console.log(res);
        });
    }
</script>
</html>