body {
    margin: 0px;
}

#jb-container {
    width: auto;
    margin: auto;
}

#content-wrapper {
    margin: auto;
}


#footer {
    clear: both;
    padding: 20px;
    border: 1px solid #bcbcbc;
}
#menu-icon-container {
    position: fixed;
    top: 0.5rem;
    right: 0.5rem;
}

#menu-icon-container {
    display: none;
}

@media all and ( max-width: 60rem ) {
    #sidebar {
        display: none;
    }

    #menu-icon-container {
        display: block;
    }
}

html {
    font-family: "Noto Sans KR", sans-serif;
}
@media all and (min-width: 60rem ) {
    #content-wrapper {
        width:720px;
        padding-left: 250px;
    }
}
h1 {
    margin: 0;
}
