
body {
    margin: 0px;
}

#jb-container {
    width: auto;
    margin: auto;
}

#header {
    padding: 20px;
    margin-bottom: 20px;
    border: 1px solid #bcbcbc;
    position: sticky;
    top:0;
}

#middle-container {
    display: flex;
}

#content {
    padding: 20px;
    margin-bottom: 20px;
    border: 1px solid #bcbcbc;
}

#sidebar {
    min-width: 260px;
    padding: 20px;
    margin-bottom: 20px;
    border: 1px solid #bcbcbc;
}

#footer {
    clear: both;
    padding: 20px;
    border: 1px solid #bcbcbc;
}

#menu-icon-container {
    position: fixed;
    top: 0.5rem;
    right: 0.5rem;
}

#menu-icon-container {
    display: none;
}

@media all and ( max-width: 60rem ) {
    #sidebar {
        display: none;
    }

    #menu-icon-container {
        display: block;
    }
}
