<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8" name="viewport"
          content="width=device-width, maximum-scale=1.0, minimum-scale=1, user-scalable=yes,initial-scale=1.0"/>
    <link rel="shortcut icon" type="image/x-icon"
          href="https://farm66.staticflickr.com/65535/52426774298_021f5dfcb4_m.jpg">
    <title>웃자</title>
    <link rel="stylesheet" href="/css/main.css">
</head>
<body>
<div id="jb-container">
    <div id="menu-icon-container">
        <img src="https://i.ibb.co/QcPLCg3/menu-icon-removebg-preview.png" alt="menu-icon-removebg-preview"
             id="menu-icon" width="50px">
    </div>
    <div class="header" id="header">
        <h2>Responsive Layout</h2>
    </div>
    <div id="middle-container">
        <div id="content">
            <h2>Content</h2>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean nec mollis nulla. Phasellus lacinia
                tempus mauris eu laoreet. Proin gravida velit dictum dui consequat malesuada. Aenean et nibh eu purus
                scelerisque aliquet nec non justo. Aliquam vitae aliquet ipsum. Etiam condimentum varius purus ut
                ultricies. Mauris id odio pretium, sollicitudin sapien eget, adipiscing risus.</p>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean nec mollis nulla. Phasellus lacinia
                tempus mauris eu laoreet. Proin gravida velit dictum dui consequat malesuada. Aenean et nibh eu purus
                scelerisque aliquet nec non justo. Aliquam vitae aliquet ipsum. Etiam condimentum varius purus ut
                ultricies. Mauris id odio pretium, sollicitudin sapien eget, adipiscing risus.</p>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean nec mollis nulla. Phasellus lacinia
                tempus mauris eu laoreet. Proin gravida velit dictum dui consequat malesuada. Aenean et nibh eu purus
                scelerisque aliquet nec non justo. Aliquam vitae aliquet ipsum. Etiam condimentum varius purus ut
                ultricies. Mauris id odio pretium, sollicitudin sapien eget, adipiscing risus.</p>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean nec mollis nulla. Phasellus lacinia
                tempus mauris eu laoreet. Proin gravida velit dictum dui consequat malesuada. Aenean et nibh eu purus
                scelerisque aliquet nec non justo. Aliquam vitae aliquet ipsum. Etiam condimentum varius purus ut
                ultricies. Mauris id odio pretium, sollicitudin sapien eget, adipiscing risus.</p>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean nec mollis nulla. Phasellus lacinia
                tempus mauris eu laoreet. Proin gravida velit dictum dui consequat malesuada. Aenean et nibh eu purus
                scelerisque aliquet nec non justo. Aliquam vitae aliquet ipsum. Etiam condimentum varius purus ut
                ultricies. Mauris id odio pretium, sollicitudin sapien eget, adipiscing risus.</p>
            <br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>
        </div>

        <div id="sidebar" th:if="${categoryList}">
            <ul th:each="categories : ${categoryList}">
                <li th:text="${categories.categoryName}"></li>
                <ul th:each="subCategories : ${categories.subCategoryList}">
                    <li th:text="${subCategories.categoryName}"></li>
                </ul>
            </ul>
        </div>

    </div>
    <div id="footer">
        <p>Copyright</p>
    </div>
</div>
</body>
<script src="/js/header.js"></script>
</html>